<section class="card d-flex justify-content-center pa-6 brds-0">
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span>Найпопулярніші</span>
    </button>
    <div class="dropdown-menu fade" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" href="#"><span class="vam">Найпопулярніші</span></a>
      <a class="dropdown-item" href="#"><span class="vam">Найбільш коментовані</span></a>
    </div>
    <div class="dropdown-backdrop"></div>
  </div>

  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span>За 7 днів</span>
    </button>
    <div class="dropdown-menu fade" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" href="#"><span class="vam">Найпопулярніші</span></a>
      <a class="dropdown-item" href="#"><span class="vam">Найбільш коментовані</span></a>
    </div>
    <div class="dropdown-backdrop"></div>
  </div>
</section>
