<section class="card pa-30 text-center profile-about">
  <img src="images/userpic.jpg" alt="Володимир Мірошниченко" class="userpic mb-30"/>
  <h1 class="h3 mb-10">Володимир Мірошниченко</h1>
  <span class="text-lg text-bold text-quiet text-truncate">@miroshnychenko</span>
  <p class="text-lg mt-30">Україно, Україно! Серце моє, ненько! Як згадаю твою долю, заплаче серденько!</p>
  <a class="btn btn-outline mt-30 mb-10" href="/settings/account" role="button"><i class="icon-edit text-lg mr-10"></i><span>Редагувати профіль</span></a>
</section>
