// Colors
$background-colors: (
  gray: $g1,
  white: $white,
  blue: $blue,
  green: $green,
  red: $red,
);

// Backgrounds
@each $color, $value in $background-colors {
  .bg-#{"" + $color} { background-color: $value !important; }
}

//
// Contextual backgrounds
//

// @include bg-variant('.bg-primary', $brand-primary);

// @include bg-variant('.bg-success', $brand-success);

// @include bg-variant('.bg-info', $brand-info);

// @include bg-variant('.bg-warning', $brand-warning);

// @include bg-variant('.bg-danger', $brand-danger);
