// Modal
//
// .modal           - container to scroll within
// .modal-content   - actual modal w/ bg and corners and stuff
// .modal-header    - sticky modal header
// .modal-body      - scrollable modal-body

// Define variables
$modal-bg:              $overlay-bg;
$modal-content-shadow:  0 3px 10px 0 rgba($g5, 0.2);
$modal-border-radius:   $base-border-radius;
$modal-transition:      all 0.2s cubic-bezier(0.49, 1, 0.32, 1.34);
$modal-perspective:     1000px;

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: flex;
  outline: 0;
  background-color: $modal-bg;
  perspective: $modal-perspective;
  padding: 10px;

  // When fading in the modal, animate it to slide up
  &.fade .modal-content {
    transition: ($modal-transition);
    transform: scale(0.85);
    transform-origin: center center;
  }

  &.show .modal-content {
    transform: none;
  }
}

// Modal Content
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  overflow-y: auto; // or overflow: auto ??
  max-height: calc(100vh - 20px);
  width: 100%;
  border-radius: $modal-border-radius;
  box-shadow: $modal-content-shadow;

  @include media-breakpoint-down(xs) {
    margin-bottom: 0;
  }
}

.modal-body {
  max-height: calc(100vh - 106px);
  overflow-y: auto;
}

// Close Button
.modal-close {
  @extend .close;

  position: absolute;
  top: 0;
  right: 0;
  padding: 20px !important;
  z-index: 2;

  i {
    color: $quiet;
    font-size: map-get($headings-sizes, sm); // 22px
    width: map-get($headings-sizes, sm);
  }
}

// Modal Sizes //
// 960px
.modal-lg .modal-content {
  max-width: map-get($grid-breakpoints, lg);
}

// 800px
.modal-lg .modal-content {
  max-width: map-get($grid-breakpoints, md);
}

// 640px
.modal-sm .modal-content {
  max-width: map-get($grid-breakpoints, sm);
}

// 425px
.modal-xs .modal-content {
  max-width: map-get($grid-breakpoints, xs);
}
