<section id="buttons" class="card pa-50">
  <h2 class="h2 mb-30">Buttons</h2>
  <button type="button" class="btn btn-outline mr-10 mb-20"><i class="icon-add text-lg mr-10"></i><span>Читати Автора</span></button>
  <button type="button" class="btn btn-blue mr-10 mb-20"><i class="icon-add text-lg mr-10"></i><span>Читати Автора</span></button>
  <button type="button" class="btn btn-red mr-10 mb-20"><i class="icon-delete text-lg mr-10"></i><span>Видалити</span></button>
  <button type="button" class="btn btn-gray mr-10 mb-20"><i class="icon-add text-lg mr-10"></i><span>Читати Автора</span></button>
  <button type="button" class="btn btn-link mr-10 mb-20"><span>Читати Автора</span></button>
  <button type="button" class="btn btn-outline btn-h-red mr-10 mb-20"><i class="icon-heart text-lg mr-10"></i><span>Вподобати</span></button>
  <button type="button" class="btn btn-blue btn-h-red mr-10 mb-20"><i class="icon-check text-lg mr-10"></i><span>Ви Читаєте</span></button>
  <button type="button" class="btn btn-outline btn-h-gray mr-10 mb-20"><i class="icon-close text-lg mr-10"></i><span>Скасувати</span></button>
  <button type="button" class="btn btn-blue mr-10 mb-20" disabled><i class="icon-add text-lg mr-10"></i><span>Button Disabled</span></button>
  <a class="btn btn-outline mr-10 mb-20" href="#" role="button"><i class="icon-add text-lg mr-10"></i><span>Link</span></a>
  <button class="btn btn-outline mr-10 mb-20" type="submit"><i class="icon-add text-lg mr-10"></i><span>Button</span></button>
  <input class="btn btn-outline mr-10 mb-20" type="button" value="Input">
  <input class="btn btn-outline mr-10 mb-20" type="submit" value="Submit">
  <input class="btn btn-outline mr-10 mb-20" type="reset" value="Reset">

  <a class="btn btn-outline mr-10 mb-20 disabled" href="#" role="button" aria-disabled="true"><i class="icon-add text-lg mr-10"></i><span>Link Disabled</span></a>
  <button class="btn btn-outline mr-10 mb-20" type="submit" disabled><i class="icon-add text-lg mr-10"></i><span>Button Disabled</button>
  <input class="btn btn-outline mr-10 mb-20" type="button" value="Input Disabled" disabled>
  <input class="btn btn-outline mr-10 mb-20" type="submit" value="Submit Disabled" disabled>
  <input class="btn btn-outline mr-10 mb-20" type="reset" value="Reset Disabled" disabled>

  <button type="button" class="btn btn-outline loading mr-10 mb-20"><i class="icon-add text-lg mr-10"></i><span>Читати Автора</span></button>
  <button type="button" class="btn btn-blue loading mr-10 mb-20"><i class="icon-add text-lg mr-10"></i><span>Читати Автора</span></button>
  <button type="button" class="btn btn-red loading mr-10 mb-20"><i class="icon-delete text-lg mr-10"></i><span>Видалити</span></button>
  <button type="button" class="btn btn-gray loading mr-10 mb-20"><i class="icon-add text-lg mr-10"></i><span>Читати Автора</span></button>
  <button type="button" class="btn btn-link loading mr-10 mb-20"><span>Читати Автора</span></button>
  <button type="button" class="btn btn-outline btn-h-red loading mr-10 mb-20"><i class="icon-heart text-lg mr-10"></i><span>Вподобати</span></button>
  <button type="button" class="btn btn-blue btn-h-red loading mr-10 mb-20"><i class="icon-check text-lg mr-10"></i><span>Ви Читаєте</span></button>
  <button type="button" class="btn btn-outline btn-h-gray loading mr-10 mb-20"><i class="icon-close text-lg mr-10"></i><span>Скасувати</span></button>
  <button type="button" class="btn btn-blue loading mr-10 mb-20" disabled><i class="icon-add text-lg mr-10"></i><span>Button Disabled</span></button>
  <a class="btn btn-outline loading mr-10 mb-20" href="#" role="button"><i class="icon-add text-lg mr-10"></i><span>Link</span></a>
  <button class="btn btn-outline loading mr-10 mb-20" type="submit"><i class="icon-add text-lg mr-10"></i><span>Button</span></button>
  <input class="btn btn-outline loading mr-10 mb-20" type="button" value="Input">
  <input class="btn btn-outline loading mr-10 mb-20" type="submit" value="Submit">
  <input class="btn btn-outline loading mr-10 mb-20" type="reset" value="Reset">

  <a class="btn btn-outline loading mr-10 mb-20 disabled" href="#" role="button" aria-disabled="true"><i class="icon-add text-lg mr-10"></i><span>Link Disabled</span></a>
  <button class="btn btn-outline loading mr-10 mb-20" type="submit" disabled><i class="icon-add text-lg mr-10"></i><span>Button Disabled</button>
  <input class="btn btn-outline loading mr-10 mb-20" type="button" value="Input Disabled" disabled>
  <input class="btn btn-outline loading mr-10 mb-20" type="submit" value="Submit Disabled" disabled>
  <input class="btn btn-outline loading mr-10 mb-20" type="reset" value="Reset Disabled" disabled>
</section>
