<section id="dropdowns" class="card pa-50">
  <h2 class="h2 mb-30">Dropdowns</h2>

  <div class="dropdown mr-50">
    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span>Dropdown button</span>
    </button>
    <div class="dropdown-menu fade" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" href="#"><i class="icon-user text-quiet mr-10"></i><span class="vam">Active Item</span></a>
      <a class="dropdown-item" href="#"><i class="icon-edit text-quiet mr-10"></i><span class="vam">Some action</span></a>
      <hr class="dropdown-divider">
      <a class="dropdown-item" href="#"><i class="icon-edit text-quiet mr-10"></i><span class="vam">Some action</span></a>
      <a class="dropdown-item" href="#"><i class="icon-delete text-quiet mr-10"></i><span class="vam">Another action</span></a>
      <a class="dropdown-item" href="#"><i class="icon-exit text-quiet mr-10"></i><span class="vam">One more action</span></a>
      <a class="dropdown-item" href="#"><i class="icon-star text-quiet mr-10"></i><span class="vam">One more action</span></a>
      <a class="dropdown-item" href="#">Something else here with a veeery veeery loooong text</a>
      <a class="dropdown-item disabled" href="#">Disabled Item</a>
      <div class="pa-20 pt-10 pb-15">
        <button type="button" class="btn btn-blue btn-h-red btn-block"><i class="icon-check text-lg mr-10"></i><span>Ви Читаєте</span></button>
      </div>
    </div>
    <div class="dropdown-backdrop"></div>
  </div>

  <div class="dropdown">
    <a class="btn btn-outline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span>Button link</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right fade pa-20" aria-labelledby="dropdownMenuLink">
      <div style="min-width: 240px;">
        <h4 class="h4 mb-15">Custom dropdown content</h4>
        <p class="mb-20">This menu is right-aligned. To do this - add .dropdown-menu-right to the .dropdown-menu</p>
        <button type="button" class="btn btn-blue btn-h-red btn-block"><i class="icon-check text-lg mr-10"></i><span>Ви Читаєте</span></button>
      </div>
    </div>
    <div class="dropdown-backdrop"></div>
  </div>
</section>
