<section id="modals" class="card pa-50">
  <h2 class="h2 mb-30">Modals</h2>

  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#styleguide-sm-modal">
    <span>Toggle Small Modal</span>
  </button>

</section>
