<section id="navs" class="card pa-50">
  <h2 class="h2 mb-30">Navs</h2>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Твори (2)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Читає (49)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Читачі (65)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Вподобані Твори (238)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</section>
