<div class="pb-20">
  <div class="card pa-30 text-center author mb-0">
    <a href="/mirosh"><img src="images/userpic.jpg" alt="Володимир Мірошниченко" class="userpic mb-20"/></a>
    <a href="/mirosh" class="h4 text-base link-h-base d-block mb-4">Володимир Мірошниченко</a>
    <a href="/mirosh" class="text-md text-bold text-quiet link-h-quiet d-block text-truncate">@miroshnychenko</a>
    <p class="text-md mt-20">Україно, Україно! Серце моє, ненько! Як згадаю твою долю, заплаче серденько!</p>
    <a href="#" role="button" class="btn btn-outline mt-20" ><i class="icon-add text-lg mr-10"></i><span>Читати автора</span></a>
  </div>
</div>
