<header class="hidden-print">
  <a href="/" class="header-item header-item-active" title="Твори"><i class="icon-posts"></i><span class="ml-10 hidden-xs-down">Твори</span></a>
  <a href="/authors" class="header-item" title="Автори"><i class="icon-authors"></i><span class="ml-10 hidden-xs-down">Автори</span></a>

  <div class="d-inline-flex flex-grow" title="На головну">
    <a href="#" class="header-logo text-hide"><img src="images/logo.svg" alt="Ґвара">На головну</a>
  </div>

  <a href="#" class="header-item" title="Увійти"><span>Увійти</span></a>
  <a href="#" class="header-item hidden-xs-down" title="Зареєструватись"><span>Зареєструватись</span></a>
</header>
