<header class="hidden-print">
  <a href="/" class="header-item header-item-active" title="Твори"><i class="icon-posts"></i><span class="ml-10 hidden-xs-down">Твори</span></a>
  <a href="/authors" class="header-item" title="Автори"><i class="icon-authors"></i><span class="ml-10 hidden-xs-down">Автори</span></a>

  <div class="d-inline-flex flex-grow" title="На головну">
    <a href="#" class="header-logo text-hide"><img src="images/logo.svg" alt="Ґвара">На головну</a>
  </div>

  <div class="dropdown d-inline-flex pl-10 pr-15" title="Володимир Мірошниченко">
    <a href="#" role="button" class="align-self-center" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <img src="images/userpic.jpg" alt="Володимир Мірошниченко" class="userpic"/>
    </a>
    <div class="hidden dropdown-menu dropdown-menu-right header-user-menu fade" aria-labelledby="dropdownUserMenuButton">
      <div class="pa-20 pt-10 pb-10 hidden-sm-up">
        <a href="#" role="button" class="btn btn-blue btn-block"><i class="icon-new-post text-lg mr-10"></i><span>Додати твір</span></a>
      </div>
      <hr class="dropdown-divider hidden-sm-up">
      <a class="dropdown-item" href="#"><i class="icon-user text-quiet mr-10"></i><span class="vam">Володимир Мірошниченко</span></a>
      <a class="dropdown-item" href="#"><i class="icon-heart text-quiet mr-10"></i><span class="vam">Вподобані твори</span></a>
      <a class="dropdown-item" href="#"><i class="icon-edit text-quiet mr-10"></i><span class="vam">Налаштування</span></a>
      <a class="dropdown-item" href="#"><i class="icon-exit text-quiet mr-10"></i><span class="vam">Вийти</span></a>
    </div>
    <div class="dropdown-backdrop"></div>
  </div>
  <a href="#" class="header-item hidden-xs-down" title="Додати твір"><i class="icon-new-post"></i></a>
  <a href="#" class="header-item" title="Сповіщення"><i class="icon-notifications"></i></a>
</header>
