<div class="notifications hidden">
  <div class="notifications-content">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
      <i class="icon-close" aria-hidden="true"></i>
    </button>

  </div>
</div>
