<article class="card">
  <a href="#" class="link-unstyled d-block pa-30 pb-15">
    <h3 class="h3 mb-20 text-base">Война альраунов и альвов. Сказка с двумя финалами</h3>
    <p class="text-base">Когда-то давным-давно, а может и не так уж давно, чтобы все об этом забыли, расстилался между высокими горами сказочный лес. У его опушки, на бескрайних полях жил волшебный народ - малюток альвов.<br/>Они были дружественны людям: помогали обрабатывать пастбища, пасти скот, занимались науками и ремёслами, прекрасно пели и своими песнями вдохновляли людей на создание произведений искусства. Поэтому люди часто входили в их пределы и посещали лес. Однажды один…</p>
  </a>
  <a href="#" class="d-block pl-30 pr-30 text-quiet">Читати повністю…</a>
  <hr class="mb-15 mt-15"/>
  <div class="pa-20 pt-0">
    <a href="#" class="d-flex align-items-center trans mb-20">
      <img src="images/userpic.jpg" alt="Володимир Мірошниченко" class="userpic post-small-userpic mr-10"/>
      <span class="text-truncate">Неоніла Володимирівна Гуменюк</span>
    </a>
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <div class="d-flex flex-grow flex-no-shrink text-bold">
        <div class="text-muted mr-20" title="Перегляди">
          <i class="icon-eye mr-4"></i><span class="text-sm">1056</span>
        </div>
        <a href="#" class="text-muted link-h-quiet trans mr-20" title="Коментарі">
          <i class="icon-comment mr-4"></i><span class="text-sm">18</span>
        </a>
        <a href="#" class="stats-likes stats-is-liked trans mr-20" title="Вподобання">
          <i class="icon-heart mr-4"></i><span class="text-sm">102</span>
        </a>
      </div>
      <div class="text-sm text-muted">01.12.2017</div>
    </div>
  </div>
</article>
